<%- if user_signed_in? %>
  <section id="appointment" class="appointment section-bg">
    <div class="container" daos="fade-up">
      <div class="section-title">
        <h2>Make an Appointment</h2>
        <p>All our doctors are working in government sectors and having a private practice at our clinic, so they are always not at the clinic. SO as not to be disapointed, patients who want to consult with our doctors are encouraged to make an appointment to avoid disapointment at coming to the clinic and not finding the doctor they wanted to consult with. </p>
      </div>
      <%= render 'appointments/form', appointment: Appointment.new() %>
    </div>
  </section>
<% end %>
<section id="departments" class="departments">
  <div class="container" daos="fade-up">
    <div class="section-title">
      <h2>Departments</h2>
      <p>Our clinic has been divided into departments based on the specializations of the doctors working at the clinic so that patients can consult with a specific doctor on a specific health issue.</p>
    </div>
    <div class="row" daos="fade-up" data-aos-delay="100">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <ul class="nav nav-tabs flex-column">
          <li class="nav-item"> <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
              <h4>Cardiology</h4>
              <p> This department deals with consultation of disorders of the heart and the blood vessels</p>
            </a></li>
          <li class="nav-item mt-2"> <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
              <h4>Orthopaedics</h4>
              <p>This department deals with consultation relating with the correction of deformities of bones or muscles</p>
            </a></li>
          <li class="nav-item mt-2"> <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
              <h4>Hepatology</h4>
              <p>This department is concerned with the consultation of diseases that affect the liver, gallbladder, biliary tree, and pancreas. </p>
            </a></li>
          <li class="nav-item mt-2"> <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
              <h4>Pediatrics</h4>
              <p>This department deals with consoultation on the health and medical care of infants, children, and adolescents from birth up to the age of 18</p>
            </a></li>
        </ul>
      </div>
      <div class="col-lg-8">
        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <h3>Cardiology</h3>
            <p class="fst-italic">Consultation of disorders of the heart and the blood vessels</p>
            <img src="<%= asset_path('departments-1') %>" alt="" class="img-fluid">
            <p>Cardiology is the study and treatment of disorders of the heart and the blood vessels. A person with heart disease or cardiovascular disease may be referred to a cardiologist. Cardiology is a branch of internal medicine. A cardiologist is not the same as a cardiac surgeon</p>
          </div>
          <div class="tab-pane" id="tab-2">
            <h3>Orthopaedics</h3>
            <p class="fst-italic">Consultation relating with the correction of deformities of bones or muscles</p>
            <img src="<%= asset_path('departments-2') %>" alt="" class="img-fluid">
            <p>Orthopaedics (also called orthopaedic surgery) is the medical specialty that focuses on injuries and diseases of your body's musculoskeletal system. This complex system, which includes your bones, joints, ligaments, tendons, muscles, and nerves, allows you to move, work, and be active</p>
          </div>
          <div class="tab-pane" id="tab-3">
            <h3>Hepatology</h3>
            <p class="fst-italic">Consultation of diseases that affect the liver, gallbladder, biliary tree, and pancreas.</p>
            <img src="<%= asset_path('departments-3') %>" alt="" class="img-fluid">
            <p>Hepatology is a branch of medicine concerned with the study, prevention, diagnosis, and management of diseases that affect the liver, gallbladder, biliary tree, and pancreas. The term hepatology is derived from the Greek words “hepatikos” and “logia,” which mean liver and study, respectively.</p>
          </div>
          <div class="tab-pane" id="tab-4">
            <h3></h3>
            <p class="fst-italic">Consultation on the health and medical care of infants, children, and adolescents from birth up to the age of 18</p>
            <img src="<%= asset_path('departments-4') %>" alt="" class="img-fluid">
            <p>Pediatrics is the branch of medicine dealing with the health and medical care of infants, children, and adolescents from birth up to the age of 18. The word “paediatrics” means “healer of children”; they are derived from two Greek words</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="testimonials" class="testimonials">
  <div class="container" daos="fade-up">
    <div class="section-title">
      <h2>Testimonials</h2>
      <p>What is a testimonial? A testimonial is effectively a review or recommendation from a client, letting other people know how your products or services benefitted them. Customer testimonials can take multiple forms, but the goal is always the same: to showcase how great your brand is</p>
    </div>
    <div class="testimonials-slider swiper" daos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">
        <% @testimonials.map do |t| %>
          <div class="swiper-slide">
            <div class="testimonial-item">
              <p class="d-flex"> <i class="bx bxs-quote-alt-left quote-icon-left"></i> <%= t.comment %><i class="bx bxs-quote-alt-right quote-icon-right"></i></div>
              <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              <h3><%= t.name %></h3>
            </div>
          </div>
        <% end %>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
