<div class="row">
  <div class="col-sm-7 p-4 full-height">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="d-flex flex-column align-items-center justify-content-center full-height">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-floating my-2">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Placeholder" %>
              <%= f.label :email %>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="form-floating my-2">
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Placeholder" %>
              <%= f.label :password %>
            </div>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field remember_fields">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="col-sm-12">
            <div class="my-2">
              <%= f.submit "Log in", class: "btn btn-primary form-control" %>
            </div>
          </div>
        </div>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
  <div class="col-sm-5 full-height">
    <div class="d-flex align-items-center justify-content-end whole-width">
      <%= video_tag 'register-email-loop.mp4', autoplay: :autoplay, loop: :loop, muted: :muted, class: "whole-width" %>
      <span style="background: url(https://miro.medium.com/max/1838/1*_KZKYMI2hlndOSGL02PK9w.gif);"></span>
    </div>
  </div>
</div>
