<%= form_with(model: appointment) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :patient_id, value: current_user.id %>

  <div class="row bg-white shadow rounded border">
    <div class="col-sm-6">
      <div class="form-floating my-2">
        <%= form.select :doctor_id, options_from_collection_for_select(User.where(user_type: 1), :id, :username), {}, class: "form-control", placeholder: "Placeholder" %>
        <%= form.label :doctor_id %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-floating my-2">
        <%= form.date_field :time, class: "form-control", placeholder: "Placeholder" %>
        <%= form.label :time %>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="form-group my-2">
        <%= form.label :reason %>
        <%= form.rich_text_area :reason, class: "form-control", placeholder: "Placeholder" %>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="actions">
        <%= form.submit class: "btn btn-primary" %>
      </div>
    </div>
  </div>

<% end %>
